<article>
	
	<h3 class="accent"><span>A bit more about me</span></h3>

	<p><span>I am based in Calgary Alberta Canada. I have worked in the eduction industry for more than twenty years in both the public and private sectors including K&#045;12 and post-secondary environments.</span></p>
      
 	<p><span>Over the years, I have been most inspired when helping others discover their true passion and ambition, and it has been these experiences that have motivated me to open this consultancy.</span></p>
 
 	<p><span>When I&#039;m not helping others, I&#039;m in the studio, with my guitar or at my desk designing websites.</span></p>
 
 	<p><span>If you would like to know more about what I do and how I do it, feel free to <a href="#tabs-4" class="tablink" title="Contact Me"><em>contact</em></a> me.</span></p>
	
</article>