<footer id="ft" class="yui3-g round">
	
	<li class="yui3-u-1">All content &amp; design &copy; 2010-11 <a href="home#tabs-3" class="tablink" title="Mark Schipper">Integrate Design Studio</a>. All rights reserved</a>.
	</li>

</footer>
