<article>
	
	<h4 class="accent"><span>Guiding Principles</span></h4>
	
	<p><span>The personal development framework is a strategy that, when implemented, will help you understand the components that make up your life and how these individual pieces interact with one another to determine who you are and who you will become.</span></p>
	
	<p><span>This is a process of discovery and understanding and it takes a different path for everyone, as it should because we all have a unique perspective on ourselves and the world around us.</span></p>

</article>