<header id="hd" class="yui3-g round">
	
	<div id="hd-title" class="yui3-u-1">
		
		<h1><span>Integrate Design Studio</span></h1>
		
	</div>

	<div id="hd-intro" class="yui3-u-1">
		
		<p class="p-one"><span>Oh, hello there&#033; I&#039;m <strong>Mark Schipper</strong>.</span></p>

		<p class="p-two"><span>I help individuals achieve success by designing a <strong>personal development framework</strong> that takes a multi&#045;disciplinary approach to goal achievement.</span></p>
	
	</div>
	
</header>