<aside id="practice" class="yui3-u-1-6 round">
	
	<h3 class="accent"><span>This Practice</span></h3>

	<p>My workplace is a <strong>studio</strong>&#059; I believe that helping people is a highly creative process, not unlike the work you might find in an art or music studio.</p>

	<p>I <strong>design</strong> and build personal development frameworks that are customized to fit the individual needs of each client.</p>

	<p>By <strong>integrating</strong> different aspects of one&#039;s life, I help people to succeed in both their personal lives and their professional careers.</p>

	<p>This <strong>practice is my vocation</strong>&#059; a small consultancy that specializes in helping people improve their lives.</p>

</aside>
