<article>
	
	<h3 class="accent first"><span>A Starting Point</span></h3>

  <p>Success in life could be defined as the continued expansion of happiness with the progressive realization of worthy goals.<sup class="reference"><a href="http://www.chopra.com/" target="_blank"><span>[<span>1</span>]</span></a></sup></p>

</article>